.venv/
__pycache__/
*.py[cod]
.git/
.env
uploads/*
!uploads/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
evaluation/ai/*
!evaluation/ai/.gitkeep
evaluation/real/*
!evaluation/real/.gitkeep
evaluation/evaluation_results.csv
docs/demo.mp4
docs/frontend_screenshot.png